# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Database
database/
*.sqlite3

# Version control
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
media/
staticfiles/
uploads/

# Documentation
README.md
*.md 